
    .span1{
     margin-top:10px;
     border-color:lightgray;
     border-style:solid;
   padding-left:10px;
   padding-right:10px;
   /*border-radius:15px;*/
   border-width:1px;
   font-size:3px;
   margin-bottom:10px;
   margin-left:0px;
 }
  .siteContainer{
     margin-left :200px;
    
     margin-bottom:100px;
  }